NIX_DIR=../../jdbaldry/garmin-football
use_flake() {
  watch_file ${NIX_DIR}/shell.nix
  watch_file ${NIX_DIR}/flake.nix
  watch_file ${NIX_DIR}/flake.lock
  eval "$(cd ${NIX_DIR} && nix print-dev-env --profile flake-profile)"
}

use_flake
