<!DOCTYPE html>
<html>
  <head>
    <title>{{ .MatchReport.Date }} {{ .MatchReport.A.Captain }} vs. {{ .MatchReport.B.Captain }}</title>
    <style>
      table { width: 100%; }
      th { cursor: pointer; }
      .black { background: black; color: white; }
      .Keeper { background: blue; color: white; }
      .Goal { background: green; color: white; }
      .Own { background: purple; color: white; }
      .Yellow { background: yellow; }
      .Red { background: red; color: white; }
      .Kickoff,.Full,.Half { background: grey; color: white; }
    </style>
  </head>
  <body>
    <h1 align="center">{{ .MatchReport.Date }} {{ .MatchReport.A.Captain }} vs. {{ .MatchReport.B.Captain }}</h1>
    <table cellpadding="5" cellspacing="0">
      <tbody>
        <tr>
          <td align="center" colspan="8" class="black">Teams</td>
        </tr>
        <tr>
          <td align="center" colspan="4">{{ .MatchReport.A.Captain }}</td>
          <td align="center" colspan="4">{{ .MatchReport.B.Captain }}</td>
        </tr>
        <tr>
          <td align="center" colspan="4">{{ .MatchReport.A.Score }}</td>
          <td align="center" colspan="4">{{ .MatchReport.A.Score }}</td>
        </tr>
        <tr>
          <td align="center" colspan="8" class="black">Events</td>
        </tr>
        {{ range $i, $event := .MatchReport.Events }}
        <tr>
          {{ if or (eq .Type "Kickoff") (eq .Type "Half time") (eq .Type "Full time") }}
          <td align="center" colspan="8" class="{{ .Type }}">{{ printf "%.0f" .Minute }}' {{ .Type }}</td>
          {{ else }}
          {{ if eq .Team 0 }}
          <td align="center" colspan="1" class="{{ .Type }}">{{ printf "%.0f" .Minute }}'</td>
          <td align="center" colspan="1" class="{{ .Type }}">{{ .Type }}</td>
          <td align="center" colspan="2" class="{{ .Type }}">{{ .Player }}</td>
          <td colspan="4"></td>
          {{ else }}
          <td colspan="4"></td>
          <td align="center" colspan="1" class="{{ .Type }}">{{ printf "%.0f" .Minute }}'</td>
          <td align="center" colspan="1" class="{{ .Type }}">{{ .Type }}</td>
          <td align="center" colspan="2" class="{{ .Type }}">{{ .Player }}</td>
          {{ end }}
          {{ end }}
        </tr>
        {{ end }}
        <tr>
          <td align="center" colspan="8" class="black">Players</td>
        </tr>
        {{ $bPlayers := .MatchReport.B.Players }}
        {{ $sra := .StatsReport.A }}
        {{ $srb := .StatsReport.B }}
        {{ range $i, $a := .MatchReport.A.Players }}
        {{ $b := (index $bPlayers $i) }}
        <tr>
          <td align="center" colspan="2">{{ $a }}</td>
          <td align="center" colspan="2">
            {{ with (index $sra $a) }}
            G:{{ .Goals }}&nbsp&nbsp&nbspOG:{{ .OwnGoals }}&nbsp&nbsp&nbspC:{{ .Conceded }}&nbsp&nbsp&nbspYC:{{ .YellowCards }}&nbsp&nbsp&nbspRC:{{ .RedCards }}
            {{ end }}
          </td>
          <td align="center" colspan="2">{{ $b }}</td>
          <td align="center" colspan="2">
            {{ with (index $srb $b) }}
            G:{{ .Goals }}&nbsp&nbsp&nbspOG:{{ .OwnGoals }}&nbsp&nbsp&nbspC:{{ .Conceded }}&nbsp&nbsp&nbspYC:{{ .YellowCards }}&nbsp&nbsp&nbspRC:{{ .RedCards }}
            {{ end }}
          </td>
        </tr>
        {{ end }}
    </table>
  </body>
</html>
