body {
  background-color: #2a2a2a;
  color: antiquewhite;
  font-family: "Arial", sans-serif;
  margin: 8px;
  text-align: center;
}
body > :not(:last-child) {
  margin-bottom: 8px;
}
h1 {
  margin: 0;
}
:link {
  color: #d7faeb;
}
:visited {
  color: #ebd7fa;
}
table {
  background-color: #3a3a3a;
  width: 100%;
  margin-bottom: 8px;
}
th {
  background-color: #3a3a3a;
  cursor: pointer;
  user-select: none;
}
tr {
  background-color: #4f4f4f;
}
tr:not(:first-child):hover {
  filter: brightness(120%);
}
tr th:hover {
  filter: brightness(120%);
}
td:first-child {
  background-color: #4a4a4a;
}
td.best {
  background-color: #639d0b;
}
div {
  background-color: #4f4f4f;
  width: 100%;
}
.black {
  background: #1f1f1f;
}
.team {
  float: left;
  text-align: center;
  width: 50%;
}
.events {
  clear: left;
}
.result {
  font-size: xx-large;
}
.minute {
  width: 20%;
}
.type {
  width: 40%;
}
.player {
  width: 40%;
}
.Full,
.Paused,
.Kickoff {
  background-color: #3a3a3a;
}
div.Keeper {
  background: #0d6faf;
  float: left;
}
div.Goal {
  background: #639d0b;
  float: left;
}
div.Own {
  background: #4d0daf;
  float: left;
}
div.Yellow {
  background: yellow;
  float: left;
  color: black;
}
div.Red {
  background: red;
  float: left;
}
